{% extends 'layout.html' %} {% block content %}

<main>
  <img src="/transaction.jpg" class="inline-photo show-on-scroll" />
</main>
<div id="content0"><h2>Features</h2></div>
<img src="/window-locker.jpg" id="image1" class="box" />
<div id="content1" class="box" data-aos="zoom-in-up">
  <p>You can see the products and buy in that place!</p>
</div>
<div id="content2" class="box" data-aos="flip-up">
  <p>It is more than safe since it is an indirect transaction system!</p>
</div>
<img src="/safe.jpg" id="image2" class="box" />
<img src="/fast.jpg" id="image3" class="box" />
<div id="content3" class="box" data-aos="slide-right">
  <p>Fast transaction ever! Pay and get the item directly!</p>
</div>
<!-- Footer -->
<footer>
  <p>&copy; 2021 Boxin Corporation. All rights reserved.</p>
  <br />
  <p>Location: 7777 Nowhere, BC, A0A 9Z9</p>
</footer>
{% endblock %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  AOS.init();
</script>
{% block script %} {% endblock %}
