{% extends 'layout.html' %} {% block content %}

<!-- Location content -->
<div id="map"></div>
<!-- Footer -->
<footer>
  <p>&copy; 2021 Boxin Corporation. All rights reserved.</p>
  <br />
  <p>Location: 7777 Nowhere, BC, A0A 9Z9</p>
</footer>
{% endblock %} {% block script %}
<script>
  function initMap() {
    let options = {
      zoom: 18,
      center: { lat: 37.5399, lng: 127.1232 },
    };
    const map = new google.maps.Map(document.getElementById("map"), options);
    let marker = new google.maps.Marker({
      position: {
        lat: 37.5399,
        lng: 127.1232,
      },
      map: map,
    });

    let infoWindow = new google.maps.InfoWindow({
      content:
        "<h2>Fake Boxin Corporation</h2><br><p>Location: 7777 Nowhere, BC, A0A 9Z9</p>",
    });

    marker.addListener("click", function () {
      infoWindow.open(map, marker);
    });
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALJAFCR_UzOtIl20KcFbTpDNRgjjX9V6s&callback=initMap"
></script>
{% endblock %}
