<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boxin | Sell or Buy items</title>
    <link rel="stylesheet" href="../style/common.css" />
    <link rel="stylesheet" href="../style/location.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- Header & Navbar -->
      <div class="multi_color_border"></div>
      <div class="top_nav">
        <div class="left">
          <div class="logo">
            <a href="./index.html"
              ><p><span>Box</span>in</p></a
            >
          </div>
          <div class="search_bar">
            <input type="text" placeholder="Search" />
            <button type="submit">Submit</button>
          </div>
        </div>
        <div class="right">
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
          </ul>
        </div>
      </div>
      <div class="bottom_nav">
        <ul>
          <li><a href="./available.html">Available Slots</a></li>
          <li><a href="./faq.html">FAQ</a></li>
          <li><a href="#">Location</a></li>
        </ul>
      </div>
    </div>
    <div>location</div>
  </body>
  <!-- Footer -->
  <footer></footer>
</html>
