@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto Slab", sans-serif;
}

/* padding: 50px */
.wrapper {
  margin: 0;
  padding: 0;
}

.wrapper .multi_color_border {
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    #206ba4 0%,
    #206ba4 25%,
    #ffab35 25%,
    #ffab35 50%,
    #206ba4 50%,
    #206ba4 75%,
    #ffab35 75%,
    #ffab35 100%
  );
}

.wrapper .top_nav {
  width: 100%;
  height: 65px;
  background: #fff;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .top_nav .left {
  display: flex;
  align-items: center;
}

.wrapper .top_nav .left .logo p {
  font-size: 2rem;
  font-weight: bold;
  color: #ffab35;
  margin-right: 25px;
  font-family: "Roboto Slab", sans-serif;
}

.wrapper .top_nav .left .logo p span {
  font-size: 2rem;
  font-family: "Roboto Slab", sans-serif;
  color: #206ba4;
}

.wrapper .top_nav .left .search_bar input[type="text"],
.wrapper .top_nav .left .search_bar button {
  border: 1px solid #666666;
  padding: 5px 10px;
  outline: none;
}

.wrapper .top_nav .left .search_bar button {
  cursor: pointer;
}

.wrapper .top_nav .left .search_bar input[type="text"]:focus {
  border: 1px solid #206ba4;
}

.wrapper .top_nav .left .search_bar button:hover {
  background-color: #bbd9ee;
}

.wrapper .top_nav .left .search_bar button:active {
  background-color: #206ba4;
  color: #fff;
}

.wrapper .top_nav .right ul {
  display: flex;
}

.wrapper .top_nav .right ul li {
  margin: 0 12px;
}

.wrapper .top_nav .right ul li a {
  color: #206ba4;
}

.wrapper .top_nav .right ul li a:hover {
  color: #ffab35;
}

.wrapper .bottom_nav {
  width: 100%;
  background: #ebf4fa;
  height: 45px;
  padding: 0 50px;
}

.wrapper .bottom_nav ul {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .bottom_nav ul li a {
  color: #777777;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.wrapper .bottom_nav ul li a:hover {
  color: #000;
}

footer {
  background-color: #473e3f;
  color: #fff;
  text-align: center;
  padding: 15px;
}
