.content {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  /* rows: nav, main, contents, footer */
  grid-template-rows: 0.2fr 1.5fr 1.2fr 1.2fr 1.2fr 0.4fr;
  grid-template-areas:
    "nav nav"
    "main main"
    "image1 content1"
    "content2 image2"
    "image3 content3"
    "footer footer";
  grid-gap: 0.2rem;
  font-family: "Roboto Slab", sans-serif;
}

main img {
  width: 100%;
  margin-top: -0.2rem;
  margin-bottom: -0.2rem;
}

#nav {
  grid-area: nav;
}

main {
  grid-area: main;
  background: #fff;
}

#image1 {
  grid-area: image1;
  background: #999;
}

#content1 {
  grid-area: content1;
  background: #ccc;
}

#content2 {
  grid-area: content2;
  background: #ccc;
}

#image2 {
  grid-area: image2;
  background: #999;
}

#image3 {
  grid-area: image3;
  background: #999;
}

#content3 {
  grid-area: content3;
  background: #ccc;
}

footer {
  grid-area: footer;
  text-align: center;
  vertical-align: middle;
}

/* AOS */
.box {
  width: 90%;
  margin: 20px auto;
  max-height: 500px;
  padding: 75px 20px;
  background: #ccc;
  text-align: center;
  color: #fff;
  font-size: 3em;
}

/* Media query */
@media only screen and (max-width: 550px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 0.8fr;
    grid-template-areas:
      "nav"
      "main"
      "image1"
      "content1"
      "content2"
      "image2"
      "image3"
      "content3"
      "footer";
  }
}
