.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline {
  width: 500px;
  height: 65vh;
  margin-top: 5rem;
}
#login-btn {
  display: flex;
  justify-content: flex-end;
}
.btn {
  display: inline-block;
  padding: 0 5px;
  margin-right: 1.3rem;
  cursor: pointer;
  border-radius: 4px;
  background: #fff;
  border: 1px solid silver;
  color: crimson;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
}
.input-group {
  margin-bottom: 15px;
}
.input-group label {
  width: 25%;
  display: inline-block;
}
.input-group input {
  width: 70%;
}
